/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.printify-print-providers-table-heading{
	padding-top: 20px;
	display: inline-block;
	text-transform: uppercase;
}

.printify-print-providers-preview-files img{
	height: 35px;
	width: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.printify-print-providers-print-files .button,
.printify-print-providers-preview-files a{
	margin: 6px 4px;
}

.printify-print-providers-label,
.printify-print-providers-preview-files a,
.printify-print-providers-print-files .button{
	vertical-align: middle;
	display: inline-block;
}

.printify-print-providers-label{
	min-width: 100px;
}

.printify-print-providers-print-files .button{
	text-transform: capitalize;
}

.printify-print-providers-status{
	margin-top: 20px;
}

.printify-print-providers-status p{
	display: inline-block;
	margin: 0px 0 10px;
}

.printify-print-providers-status input,
.printify-print-providers-status .select2-container{
	margin-right: 20px;
}

.printify-print-providers-status .select2-container{
	min-width: 200px;
	width: 25% !important;
}

.printify-print-providers-order-status{
	vertical-align: middle;
}

.printify-print-providers-order-status.order-status{
	background: none;
	border: 0 none;
}

.printify-print-providers-order-status img{
	height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 5px 4px 12px -4px rgba(0,0,0,0.15);
	-moz-box-shadow: 5px 4px 12px -4px rgba(0,0,0,0.15);
	box-shadow: 5px 4px 12px -4px rgba(0,0,0,0.15);
}